 <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout.html">
     <body>
     <div layout:fragment="content">

            <div class="content-body">
                <!-- Description -->
                <section id="description" class="card">
                    <div class="card-header">
                        <h4 class="card-title">Page template</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div class="card-text">
                            <p>This is an empty page, served from src/main/resources/templates/empty_page.html. Copy this template to start developing content</p>
                                <p>Content goes here...</p>
                            </div>
                        </div>
                    </div>
                </section>
                <!--/ HTML Markup -->
            </div>
     </div>
     </body>
</html>